<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RtspViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RtspViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RtspViewer.Properties.Settings>
            <setting name="UseTcp" serializeAs="String">
                <value>False</value>
            </setting>
        </RtspViewer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RtspViewer.Properties.Settings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value>db.db</value>
            </setting>
        </RtspViewer.Properties.Settings>
    </applicationSettings>
</configuration>